
	<pre>{{searchParams | json}}</pre>
	<form class="form-inline" ng-submit="search()">
		<input type="text" name="from" class="form-control" placeholder="from" ng-model="searchParams.from">
		<input type="text" name="to" class="form-control" placeholder="to" ng-model="searchParams.to">
		<button type="submit" class="btn btn-primary">Search</button>
	</form>

	<p class="text-center" ng-show="searching &amp;&amp; !errors.length"><br>Loading data...<br></p>

	<p class="text-center bg-{{error.type}}" ng-repeat="error in errors">{{error.content}}</p>

	<table class="table conn-table" ng-show="connections.length &amp;&amp; !errors.length">
		<thead>
			<tr>
				<th>Station</th>
				<th>Date</th>
				<th>Time</th>
				<th>Duration</th>
				<th>Changes</th>
				<th>Products</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat-start="connection in connections" class="conn-row">
				<td>
					<a href="" class="details-btn pull-left" ng-class="{'open': connection.detailsVisible}" ng-click="toggleConnectionDetails(connection)">
						<em class="st-icon st-icon-arrow-right"></em>
						<div class="station-name-wrap pull-left">
							{{connection.from.station.name}}
							<br>
							{{connection.to.station.name}}
						</div>
					</a>
				</td>
				<td>
					{{connection.from.departure | connectionDate}}
					<br>
					{{connection.to.arrival | connectionDate}}
				</td>
				<td>
					{{connection.from.departure | connectionTime}}
					<br>
					{{connection.to.arrival | connectionTime}}
				</td>
				<td>
					{{connection.duration | journeyDuration}}
				</td>
				<td>
					{{connection.transfers}}
				</td>
				<td>
					{{connection.products.join()}}
				</td>
			</tr>
			<tr ng-repeat-end>
				<td colspan="6" ng-show="connection.detailsVisible">
					<table class="table table-condensed subconn-table">
						<thead>
							<tr>
								<th>Station</th>
								<th>Date</th>
								<th>Time</th>
								<th>Products</th>
							</tr>
						</thead>
						<tbody ng-repeat="section in connection.sections">
							<!-- empty row for padding -->
							<tr class="empty-row">
								<td colspan="4"><p class="transfer-time">transfer</p></td>
							</tr>
							<!-- departure station -->
							<tr style="color:green">
								<td>
									{{section.departure.location.name}}
								</td>
								<td>
									{{section.departure.departure | connectionDate}}
								</td>
								<td>
									dep {{section.departure.departure | connectionTime}}
								</td>
								<td>{{section.journey.name}}</td>
							</tr>

							<!-- passList -->
							<tr ng-repeat="passItem in section.journey.passList.slice(1, section.journey.passList.length-1)" ng-show="connection.intermediateStopsShown">
								<td>
									{{passItem.location.name}}
								</td>
								<td></td>
								<td>
									dep {{passItem.departure | connectionTime}}
								</td>
								<td></td>
							</tr>

							<!-- arrival station -->
							<tr style="color:green;">
								<td>
									{{section.arrival.location.name}}
								</td>
								<td>
									{{section.arrival.arrival | connectionDate}}
								</td>
								<td>
									arr {{section.arrival.arrival | connectionTime}}
								</td>
								<td>&nbsp;</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<td colspan="4">
									<a href="" ng-click="toggleIntermediateStops(connection)">
										<span ng-hide="connection.intermediateStopsShown">show</span>
										<span ng-show="connection.intermediateStopsShown">hide</span> intermediate stops</a>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									runs: {{connection.service.regular}}
								</td>
							</tr>
						</tfoot>
					</table>


				</td>
			</tr>
		</tbody>
	</table>

