<div class="container">

	<pre>{{searchParams | json}}</pre>
	<form class="form-inline" ng-submit="search()">
		<input type="text" name="from" class="form-control" placeholder="from" ng-model="searchParams.from">
		<input type="text" name="to" class="form-control" placeholder="to" ng-model="searchParams.to">
		<button type="submit" class="btn btn-primary">Search</button>
	</form>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Station</th>
				<th>Date</th>
				<th>Time</th>
				<th>Duration</th>
				<th>Changes</th>
				<th>Products</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat-start="connection in connections">
				<td>
					{{connection.from.station.name}}
					<br>
					{{connection.to.station.name}}
				</td>
				<td>
					{{connection.from.departure | connectionDate}}
					<br>
					{{connection.to.arrival | connectionDate}}
				</td>
				<td>
					{{connection.from.departure | connectionTime}}
					<br>
					{{connection.to.arrival | connectionTime}}
				</td>
				<td>
					{{connection.duration | journeyDuration}}
				</td>
				<td>
					{{connection.transfers}}
				</td>
				<td>
					{{connection.products.join()}}
				</td>
			</tr>
			<tr ng-repeat-end>
				<td colspan="6">

					<table class="table">
						<thead>
							<tr>
								<th>Station</th>
								<th>Date</th>
								<th>Time</th>
								<th>Products</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="section in connection.sections">
								<td>
									{{section.departure.location.name}}<br>
									{{section.arrival.location.name}}
								</td>
								<td>
									{{section.departure.departure | connectionDate}}<br>
									{{section.arrival.arrival | connectionDate}}
								</td>
								<td>
									{{section.departure.departure | connectionTime}}<br>
									{{section.arrival.arrival | connectionTime}}
								</td>
								<td>
									{{section.journey.name}}
								</td>
							</tr>

							</tr>
							<tr>
								<td colspan="4">
									<a href="">show intermediate stops</a>
								</td>
							</tr>
							<tr>
								<td colspan="4">
									runs: {{connection.service.regular}}
								</td>
							</tr>
						</tbody>
					</table>

				</td>
			</tr>
		</tbody>
	</table>

</div>
